@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css?family=Itim');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

body{
	background-color: blue;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	color: orange;
}

.extreme{
	font-family: 'Permanent Marker', sans-serif;
}

.navzone {
	color: lightgreen;
	background: red;
	border-radius: 40px;
	max-width:3000px;
	min-width: 500px;
	display: inline-block;
}

#tehlulz{
	text-transform: uppercase;
	font-family: 'Itim', sans-serif;

}

#head1{
  opacity:0;  
  -webkit-animation:fadeIn ease-in 1;  
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

p{
	
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-decoration: blink;
}


.content{
	padding-top:20px;
}

ul{
	transition: all 1s ease-in;
	text-align: center;	
	list-style-type: none;
    color: orange;
    font-size: 40px;
    background: orange;
    border-radius: 100px;
    margin-top:-10px;
}

ul:hover {transform: scale(1.5);  }

h1{
	font-size: 5em;
	text-transform: uppercase;

}

h2{
	font-size: 40px;
}

h3{
	margin-top: -50px;
	margin-bottom: 60px;
	font-size: 30px;
}