@import url('https://fonts.googleapis.com/css?family=Montserrat');


body{
	background-color: yellow;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	color: purple;
}







ul{
	text-align: center;	
	list-style-type: none;
    color: purple;
    font-size: 40px;
}


h1{
	font-size: 5em;
	text-transform: uppercase;

}

h2{
	font-size: 40px;
}

h3{
	font-size: 30px;
}